<div>
  <h1 class="text-3xl text-center font-semibold text-gray-500">
    Customer
  </h1>
  <!-- card start -->
  <div class="grid grid-cols-3 gap-6 m-6">
    <div
      *ngFor="let item of pkgList"
      class="bg-gray-100 shadow-lg rounded-md p-4 space-y-3"
    >
      <img src="" alt="img" />
      <h3>{{ item.name }}</h3>
      <p>des</p>
      <form
        class="flex flex-col"
        #createUserOdr="ngForm"
        (ngSubmit)="createUserOrder(createUserOdr.value)"
      >
        <input
          class="text-center py-1 rounded-md shadow-md"
          type="number"
          name="quantity"
          id="quantity"
          ngModel
          placeholder="Enter quantity"
        />
        <div class="mx-auto mt-4">
          <button
            class="bg-purple-500 py-2 px-4 rounded-md text-gray-50 font-semibold hover:bg-purple-600"
          >
            Order Now
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- card End -->
</div>


<!--   pkgList: pack[] | undefined; -->
<!-- packList() {
  this.orderService.packageList().subscribe((res: pack[] | undefined) => {
    // console.log(result);
    this.pkgList = res;
  })
}


createUserOrder(data: odr) {
  console.log(data);
  
} -->










<div class="m-4">
  <h1 class="text-3xl text-center font-semibold text-gray-500 py-4">
    Packages
  </h1>
  <!-- card start -->
  <div class="grid grid-cols-3 gap-12 m-6">
    <div *ngFor="let item of pkgList" class="bg-gray-100 shadow-lg rounded-md p-4 space-y-3">
      <img class="rounded-md" [src]="item.imgUrl" alt="img" />
      <h3 class="text-center text-xl font-semibold text-gray-500">{{ item.name }}</h3>
      <p>des</p>
      <form class="flex flex-col">
        <input
          class="text-center py-2 rounded-md shadow-md bg-gray-200"
          type="number"
          name="quantity"
          id="quantity"
          ngModel
          placeholder="Enter quantity"
        />
        <div class="mx-auto mt-4">
          <!-- Pass the current item to createUserOrder function -->
          <button
            (click)="createUserOrder(item.id)"
            class="bg-purple-500 py-2 px-4 rounded-md text-gray-50 font-semibold hover:bg-purple-600"
          >
            Order Now
          </button>
        </div>
      </form>
    </div>
    
  </div>
  <!-- card End -->
</div>





// createUserOrder(packId: any) {

  //   const quantityInput = document.getElementById('quantity') as HTMLInputElement;
  //   const quantity = parseInt(quantityInput.value);
    
  //   const user = localStorage.getItem("user");
  
  //   if (user !== null) {
  //     const LocalUser = JSON.parse(user);
  //     const userId = LocalUser.id;
  
  //     const data = {"userId": userId, "packageId": packId, "quantity": quantity};
  //     console.log(data);
      
  //   }
  
  
  
  // }